[mysqld_multi]
mysqld     = /usr/local/mysql/bin/mysqld_safe
mysqladmin = /usr/local/mysql/bin/mysqladmin
user       = root

# The MySQL server
###############################################################################
[mysqld1]
port            = 3301
socket          = /var/lib/mysql/mysql01.sock
datadir         =/mnt/hgfs/HDISK/mysql/data01
pid-file        =/var/lib/mysql/mysql01.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld2]
port            = 3302
socket          = /var/lib/mysql/mysql02.sock
datadir         =/mnt/hgfs/HDISK/mysql/data02
pid-file        =/var/lib/mysql/mysql02.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld3]
port            = 3303
socket          = /var/lib/mysql/mysql03.sock
datadir         =/mnt/hgfs/HDISK/mysql/data03
pid-file        =/var/lib/mysql/mysql03.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld4]
port            = 3304
socket          = /var/lib/mysql/mysql04.sock
datadir         =/mnt/hgfs/HDISK/mysql/data04
pid-file        =/var/lib/mysql/mysql04.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld5]
port            = 3305
socket          = /var/lib/mysql/mysql05.sock
datadir         =/mnt/hgfs/HDISK/mysql/data05
pid-file        =/var/lib/mysql/mysql05.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld6]
port            = 3306
socket          = /var/lib/mysql/mysql06.sock
datadir         =/mnt/hgfs/HDISK/mysql/data06
pid-file        =/var/lib/mysql/mysql06.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld7]
port            = 3307
socket          = /var/lib/mysql/mysql07.sock
datadir         =/mnt/hgfs/HDISK/mysql/data07
pid-file        =/var/lib/mysql/mysql07.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld8]
port            = 3308
socket          = /var/lib/mysql/mysql08.sock
datadir         =/mnt/hgfs/HDISK/mysql/data08
pid-file        =/var/lib/mysql/mysql08.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld9]
port            = 3309
socket          = /var/lib/mysql/mysql09.sock
datadir         =/mnt/hgfs/HDISK/mysql/data09
pid-file        =/var/lib/mysql/mysql09.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld10]
port            = 3310
socket          = /var/lib/mysql/mysql10.sock
datadir         =/mnt/hgfs/HDISK/mysql/data10
pid-file        =/var/lib/mysql/mysql10.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################
[mysqld11]
port            = 3311
socket          = /var/lib/mysql/mysql11.sock
datadir         =/mnt/hgfs/HDISK/mysql/data11
pid-file        =/var/lib/mysql/mysql11.pid
user            =mysql

skip-grant-tables

innodb_checksum_algorithm=innodb
#innodb_log_checksum_algorithm=innodb
innodb_data_file_path=ibdata1:200M:autoextend
innodb_log_files_in_group=2
innodb_log_file_size=1572864000
#innodb_fast_checksum=false
#innodb_page_size=16384
#innodb_log_block_size=512
innodb_undo_directory=.
innodb_undo_tablespaces=0


#rds_encrypt_data=false
#innodb_encrypt_algorithm=aes_128_ecb

###############################################################################

